DOCKERHUB_REGISTRY=docker.io
DOCKERHUB_NAMESPACE=mvchr
IMAGE_TAG=v2

MSSQL_SA_PASSWORD=replace-with-a-strong-sql-password
MSSQL_DATABASE=MedSocial2Platform
MSSQL_PID=Developer
MONGODB_DATABASE=MedSocial2Social
JWT_SIGNING_KEY=replace-with-a-long-random-production-signing-key

ASPNETCORE_ENVIRONMENT=Production
CLIENT_PORT=3000
ADMIN_PORT=3001
ADMIN_BLAZOR_PORT=3002
